.App {
  text-align: center;
}

.main-bg {
  height: 400px;
  background-image: url('./image/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.item-image img {
  width: 100%;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}